*.onnx filter=lfs diff=lfs merge=lfs -text
apps/sherpa-onnx-demo/public/*.data filter=lfs diff=lfs merge=lfs -text
apps/sherpa-onnx-demo/public/wasm/**/*.data filter=lfs diff=lfs merge=lfs -text
apps/sherpa-onnx-demo/public/wasm/**/*.onnx filter=lfs diff=lfs merge=lfs -text
