**/dist
**/build

# OSX
#
.DS_Store

# VSCode
.vscode/
jsconfig.json

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml
android/app/libs
android/keystores/debug.keystore
apps/playground/ios
apps/playground/android

# Cocoapods
#
playground/ios/Pods

# Ruby
playground/vendor/

# node.js
#
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Expo
.expo/*

# Yarn cache
**/.yarn/cache/
**/.yarn/unplugged/
**/.yarn/build-state.yml
**/install-state.gz
**/.pnp.*
*storybook.log
apps/playground/.env.development
apps/playground/.env.production
apps/playground/audioplayground-b0b0f366d11e.json
apps/sherpa-onnx-demo/assets/models/

# FFmpeg libraries and headers
packages/react-native-essentia/android/src/main/jniLibs/**/ffmpeg/
*.a
packages/react-native-essentia/essentia-binaries.zip
packages/react-native-essentia/third_party/essentia_sim/
packages/react-native-essentia/build_arm64_sim/
packages/react-native-essentia/build_minimal/
packages/react-native-essentia/third_party/essentia
packages/sherpa-onnx.rn/third_party/sherpa-onnx
packages/sherpa-onnx.rn/prebuilt/
packages/sherpa-onnx.rn/lib/
packages/sherpa-onnx.rn/android/src/main/jniLibs/**/*.so
apps/sherpa-onnx-demo/public/sherpa-onnx-wasm-combined.js
apps/sherpa-onnx-demo/public/sherpa-onnx-wasm-combined.wasm
